body {
	font-family: 'PT Sans Narrow','Tahoma',sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
}
h2 {
	font-size: 30px;
	line-height: 42px;
	color: #000;
	font-weight: bold;
}